.h5_component
{
	position: absolute;
	background-size: cover;
	background-repeat: no-repeat;
}

.h5_component_bar_line
{
	display: flex;
	/* 项目的排列方向，也是确定主轴方向 默认是水平 */
	flex-direction: row;
	/* 项目在一条轴线排列是否需要换行 */
	flex-wrap: nowrap;
	/* 项目在主轴上的对齐方式  */
	justify-content: center;
	height: 15px;
	font-size: 12px;
	line-height: 15px;
	margin-bottom: 15px;
}
.h5_component_bar_line .name
{
	height: 100%;
	width: 60px;
	text-align: center;
}
.h5_component_bar_line .rate
{
	height: 15px;
	/* 项目的放大比例，即占剩余空间的比例 */
	flex-grow: 3;
	margin-left: 5px;
	overflow: hidden;
	background-color: gray;
	border-radius: 5px;
}
.h5_component_bar_line .process
{
	background-color: orange;
	transition: all 1s 0.5s;
	height: 100%;
	width: 0;
}
.h5_component_bar_line .per
{
	flex-grow: 1;
	height: 100%;
	text-align: center;
	opacity: 0;
}




.h5_component_base_load .per
{
	transition: all 1s 1.2s;
	opacity: 1;
}


.h5_component_base_leave .per
{
	opacity: 0;
}